html{
    scroll-behavior: smooth;
}
.div-class{
    font-size:20px;
}
.left_section{
    font-size: 4rem;
    /* margin: 50px; */
    margin-top: 100px;
    
}
.hero_section{
    display: flex;
    margin-top: 140px;
}
.right_section{
    position: relative;
    left: 750px;
    bottom: 200px;
    
}
#element{
    color: purple;
}
.column-container{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    flex-direction: row;
}
.column{
    flex: 1;
            padding: 20px;
            border: 1px solid #ccc;
            margin: 10px;
            text-align: center;
            border-radius:50px ;

}
.column:hover{
    box-shadow: 0 20px 20px 0px black;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;

}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 40px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* about us css styling
 */

.aboutherosection{
    text-align: center;
    align-items: center;
}


/* Contact us css styling */
form{
    background: rgb(171, 210, 237);
    display: flex;
    flex-direction: column;
    padding:2vw 4vw ;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color:#555;
    font-weight: 800;
    margin-bottom: 20px;
}
form input,form textarea{
    border:0;
    margin: 20px 0;
    padding:20px;
    outline:none;
    background: #f5f5f5;
    font-size: 1rem;
}
form button{
    padding: 15px;
    background: #ff3561;
    color:#fff;
    font-size: 18px;
    border: 0;
    outline:none;
    cursor:pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
.container45{
    align-items: center;
    display: flex;
    justify-content: center;
}
























/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
   
    .services_section{
        display: flex;
        flex-direction: column;
        
    }
    .column-container{
        display: flex;
        flex-direction: column;
    }
    .right_section{
        display: none;
    }
    .container12{
        visibility: visible;
        margin: 5%;
    }
    
    
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
    
}
.services_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

}




